BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -4
PointerAlignment: Right
ReferenceAlignment: Pointer
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: false
SortIncludes: false
BinPackParameters: false
BinPackArguments: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
KeepEmptyLinesAtTheStartOfBlocks: false
IndentCaseLabels: false
