#include <windows.h>

#define IDR_MAIN_MENU 115

#define IDM_FILE_EXIT 40001
#define IDM_HELP_CONTENTS 40003
#define IDM_HELP_ABOUT 40011
#define IDM_OPTIONS_FULLSCREEN 40012
#define IDM_HELP_ON_HELP 40013
#define IDM_HELP_SEARCH_TOPIC 40016

LANGUAGE 9, 2

IDR_MAIN_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", IDM_FILE_EXIT
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "Full Screen        F4", IDM_OPTIONS_FULLSCREEN
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Contents", IDM_HELP_CONTENTS
        MENUITEM "&Search Topic", IDM_HELP_SEARCH_TOPIC
        MENUITEM "&Help on Help", IDM_HELP_ON_HELP
        MENUITEM SEPARATOR
        MENUITEM "&About Paint Ball...", IDM_HELP_ABOUT
    END
END

ABOUTBOX DIALOG 22, 17, 167, 184
STYLE DS_SETFONT | WS_POPUP | WS_BORDER
FONT 8, "System"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 132, 2, 32, 14, WS_GROUP
    ICON 117, -1, 3, 2, 18, 20
    LTEXT "CompanyName", 1024, 25, 10, 100, 8
    LTEXT "FileDescription", 1025, 25, 20, 82, 8
    LTEXT "ProductVersion", 1026, 110, 20, 50, 8
    LTEXT "\2511996 Psygnosis Ltd.", 1027, 25, 30, 137, 8
    LTEXT "LegalTrademarks", 1028, 25, 50, 136, 16
    LTEXT "Memory Size", 283, 9, 77, 151, 96
    CONTROL "", 501, "STATIC", WS_VISIBLE | WS_CHILD | SS_BLACKRECT, 25, 40, 138, 1
    GROUPBOX "Information", -1, 5, 67, 159, 111
END

101 DIALOG 0, 0, 186, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "Please Enter Level Name (32 Characters)"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT 1000, 10, 15, 165, 20, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 35, 75, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 100, 75, 50, 14
    GROUPBOX "Level Name", -1, 5, 5, 175, 40
END

104 DIALOG 0, 0, 227, 201
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "Enter Lift Data"
FONT 8, "MS Sans Serif"
BEGIN
    AUTORADIOBUTTON "Works With Switch", 1100, 10, 17, 120, 10, WS_GROUP | BS_LEFTTEXT
    AUTORADIOBUTTON "Works Once with Switch", 1103, 10, 30, 120, 10, BS_LEFTTEXT
    AUTORADIOBUTTON "Works on Contact", 1101, 10, 45, 120, 10, BS_LEFTTEXT
    AUTORADIOBUTTON "Works on contact ( Once Ever )", 1104, 10, 60, 120, 10, BS_LEFTTEXT
    AUTORADIOBUTTON "Works Immediately", 1102, 10, 75, 120, 10, BS_LEFTTEXT
    AUTOCHECKBOX "Moves Once Only", 1009, 10, 105, 120, 15, WS_GROUP | WS_TABSTOP | BS_LEFTTEXT
    AUTORADIOBUTTON "Up", 1017, 10, 140, 120, 10, WS_GROUP | BS_LEFTTEXT
    AUTORADIOBUTTON "Down", 1018, 10, 155, 120, 10, BS_LEFTTEXT
    EDITTEXT 1014, 165, 25, 35, 15, WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1015, 165, 70, 35, 15, WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1016, 165, 115, 35, 15, WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 5, 180, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 60, 180, 50, 14
    GROUPBOX "Activator", -1, 5, 5, 130, 85, WS_GROUP
    GROUPBOX "Modifiers", 1020, 5, 95, 130, 30, WS_GROUP
    GROUPBOX "Lift Start Height", 1023, 145, 10, 75, 40
    GROUPBOX "Lift Minimum Height", 1022, 145, 55, 75, 40
    GROUPBOX "Lift Maximum Height", 1021, 145, 100, 75, 40
    GROUPBOX "Start Direction", 1019, 5, 130, 130, 40, WS_GROUP
END

105 DIALOG 0, 0, 397, 261
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "General Properties"
FONT 8, "MS Sans Serif"
BEGIN
    AUTORADIOBUTTON "1", 1028, 15, 20, 30, 10, WS_GROUP
    AUTORADIOBUTTON "2", 1029, 60, 20, 30, 10
    AUTORADIOBUTTON "3", 1030, 105, 20, 30, 10
    AUTORADIOBUTTON "4", 1031, 155, 20, 30, 10
    AUTORADIOBUTTON "1", 1032, 15, 55, 30, 10, WS_GROUP
    AUTORADIOBUTTON "2", 1033, 50, 55, 30, 10
    AUTORADIOBUTTON "3", 1034, 80, 55, 30, 10
    AUTORADIOBUTTON "4", 1035, 110, 55, 30, 10
    EDITTEXT 1036, 150, 90, 35, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    AUTORADIOBUTTON "1", 1047, 15, 135, 30, 10, WS_GROUP
    AUTORADIOBUTTON "2", 1048, 60, 135, 30, 10
    AUTORADIOBUTTON "3", 1049, 105, 135, 35, 10
    AUTORADIOBUTTON "4", 1050, 155, 135, 30, 10
    EDITTEXT 1056, 15, 160, 30, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1057, 60, 160, 30, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1058, 105, 160, 30, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1059, 150, 160, 30, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1037, 11, 235, 174, 12, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    AUTORADIOBUTTON "1", 1065, 210, 25, 30, 10, WS_GROUP
    AUTORADIOBUTTON "2", 1066, 255, 25, 30, 10
    AUTORADIOBUTTON "3", 1067, 300, 25, 30, 10
    AUTORADIOBUTTON "4", 1068, 350, 25, 30, 10
    AUTORADIOBUTTON "1", 1069, 210, 65, 30, 10, WS_GROUP
    AUTORADIOBUTTON "2", 1070, 255, 65, 30, 10
    AUTORADIOBUTTON "3", 1071, 300, 65, 30, 10
    AUTORADIOBUTTON "4", 1072, 350, 65, 30, 10
    AUTORADIOBUTTON "1", 1051, 210, 105, 30, 10, WS_GROUP
    AUTORADIOBUTTON "2", 1052, 255, 105, 30, 10
    AUTORADIOBUTTON "3", 1053, 300, 105, 35, 10
    AUTORADIOBUTTON "4", 1054, 350, 105, 30, 10
    GROUPBOX "Attached", -1, 205, 115, 40, 35
    DEFPUSHBUTTON "OK", IDOK, 220, 195, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 320, 195, 50, 14
    GROUPBOX "Start Number of Lemmings", -1, 5, 10, 185, 25
    GROUPBOX "Number of Flags to Collect", -1, 5, 45, 185, 25
    GROUPBOX "Time to Complete Level", -1, 5, 80, 185, 30
    LTEXT "Number of Seconds to complete level", -1, 15, 95, 130, 10
    GROUPBOX "Level Name (32 Characters)", -1, 5, 220, 185, 35
    GROUPBOX "Number of Entrances (Trapdoors)", -1, 5, 125, 185, 90
    GROUPBOX "Attached", -1, 10, 145, 40, 35
    GROUPBOX "Attached", -1, 55, 145, 40, 35
    GROUPBOX "Attached", -1, 100, 145, 40, 35
    GROUPBOX "Attached", -1, 145, 145, 40, 35
    CTEXT "Please Ensure that the number of Lemmings attached to each trapdoor is equal to the number of Lemmings available at the start of the Level", -1, 10, 185, 175, 25
    GROUPBOX "Network Game Options", -1, 195, 5, 195, 185
    GROUPBOX "Number of Entrances (Trapdoors)", -1, 200, 95, 185, 90
    GROUPBOX "Attached", -1, 250, 115, 40, 35
    GROUPBOX "Attached", -1, 295, 115, 40, 35
    GROUPBOX "Attached", -1, 340, 115, 40, 35
    EDITTEXT 1061, 210, 130, 30, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1062, 255, 130, 30, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1063, 300, 130, 30, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    EDITTEXT 1064, 345, 130, 30, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    CTEXT "Please Ensure that the number of Lemmings attached to each trapdoor is equal to the number of Lemmings available at the start of the Level\n\nNOTE:\nThe Number ", -1, 205, 155, 175, 25
    GROUPBOX "Start Number of Lemmings", -1, 200, 15, 185, 25
    GROUPBOX "Number of Flags to Collect", -1, 200, 55, 185, 25
    AUTORADIOBUTTON "0", 1038, 145, 55, 30, 10
END

106 DIALOG 0, 0, 186, 81
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "Ice"
FONT 8, "MS Sans Serif"
BEGIN
    AUTORADIOBUTTON "West", 1040, 15, 15, 35, 10, WS_GROUP | BS_LEFTTEXT
    AUTORADIOBUTTON "North", 1039, 71, 15, 28, 10
    AUTORADIOBUTTON "South", 1042, 15, 34, 35, 10, BS_LEFTTEXT
    AUTORADIOBUTTON "East", 1041, 70, 34, 25, 10
    EDITTEXT 1043, 38, 60, 50, 12, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 130, 35, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 130, 55, 50, 14
    ICON 150, -1, 50, 20, 18, 20
    GROUPBOX "Direction", -1, 10, 5, 95, 45
    RTEXT "Speed", -1, 0, 60, 35, 10
    AUTOCHECKBOX "StartOn", 1081, 138, 12, 32, 12, WS_TABSTOP
END

108 DIALOG 0, 0, 208, 117
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "Edit PaintGuns"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT 1044, 152, 24, 40, 16, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 8, 96, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 144, 96, 50, 14
    GROUPBOX "Start Position of PaintGun", -1, 8, 8, 192, 40
    LTEXT "Please Enter the Start Position Here", -1, 17, 28, 128, 8
    CTEXT "Please enter a number between (0-57)\nThis number denotes the frame on which the PaintGun starts it's ascent.\nFrame 0: Start, Frame 28:Fire, Frame 47:Drop", -1, 8, 56, 192, 32
END

109 DIALOG 0, 0, 152, 81
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "Moving Ground Style"
FONT 8, "MS Sans Serif"
BEGIN
    AUTORADIOBUTTON "Ground", 1045, 15, 20, 50, 10
    AUTORADIOBUTTON "Star", 1046, 15, 35, 50, 10
    AUTOCHECKBOX "Wait for switch", 1076, 15, 60, 70, 10, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 90, 10, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 90, 30, 50, 14
    GROUPBOX "Style", -1, 5, 5, 70, 45
END

112 DIALOG 0, 0, 167, 50
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "Edit Ball Speed"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT 1074, 45, 5, 44, 15, WS_VISIBLE | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 105, 5, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 105, 25, 50, 14
    RTEXT "Ball Speed", -1, 5, 10, 36, 10
END

113 DIALOG 0, 0, 186, 55
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "Edit Ammo"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX "Re-Apprears", 1078, 10, 5, 80, 10, WS_TABSTOP
    EDITTEXT 1077, 10, 25, 55, 15, WS_VISIBLE | WS_DISABLED | WS_TABSTOP | WS_CHILD | WS_BORDER | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 130, 6, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 130, 23, 50, 14
    LTEXT "Time (secs)", 1079, 70, 30, 45, 10
END

114 DIALOG 0, 0, 157, 46
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "Invisible Switch"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 100, 5, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 100, 25, 50, 14
    AUTOCHECKBOX "Switch Multiple times", 1080, 5, 5, 85, 10, WS_TABSTOP
END

116 DIALOG 0, 0, 186, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU
CAPTION "About Paint Ball"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 130, 6, 50, 14
    CTEXT "Paint Ball For Windows 95 (tm)", -1, 15, 10, 110, 15
    CTEXT "From Visual Sciences Ltd", -1, 15, 30, 110, 15
    CTEXT "For Psygnosis", -1, 15, 50, 110, 15
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0xbL
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904e4"
        BEGIN
            VALUE "CompanyName", "Visual Sciences Ltd.\0"
            VALUE "FileDescription", "Lemmings Paintball(TM)\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "Lemmings Paintball\0"
            VALUE "LegalCopyright", "Copyright \251 Psygnosis Ltd. 1990-1995\0"
            VALUE "LegalTrademarks", "Lemmings\256 is a registered trademark of Psygnosis Ltd. Windows(TM) is a trademark of Microsoft Corporation.\0"
            VALUE "OriginalFilename", "LEMBALL.EXE\0"
            VALUE "ProductName", "Lemmings\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1252
    END
END
